<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 text-right">
            <button
                class="btn btn-primary mb-3 mt-3"
                (click)="openAddSubCategoryModal(addEditSubCategoryModal)"
            >
                Add Sub Category
            </button>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Sub Category
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th width="100"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="subCategoryList.length>0">
                                    <tr *ngFor="let category of subCategoryList">
                                        <td>{{category.subCategoryName}}</td>

                                        <td>{{category.createDate | date:'medium'}}</td>
                                        <td>{{category.priority}}</td>
                                        <td>
                                            <span
                                                *ngIf="category.isActive"
                                                class="badge badge-success"
                                            >
                                                Active
                                            </span>
                                            <span
                                                *ngIf="!category.isActive"
                                                class="badge badge-danger"
                                            >
                                                Inactive
                                            </span>
                                        </td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm mr-2"
                                                (click)="openEditSubCategoryModal(addEditSubCategoryModal,category)"
                                            >
                                                <i
                                                    class="fa fa-edit"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger btn-sm"
                                                (click)="deleteSubCategory(category)"
                                            >
                                                <i
                                                    class="fa fa-trash"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="subCategoryList.length==0">
                                    <tr>
                                        <td
                                            colspan="6"
                                            class="text-center"
                                        >
                                            Subcategory not found
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a
                                class="page-link"
                                href="#"
                            >
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                4
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #addEditSubCategoryModal>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            Subcategory Details
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="editSubCategoryModalRef.close()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Select Category:</label>
                    <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        [(ngModel)]="subCategoryFormDetails.categoryId"
                    >
                        <option value>Select Category</option>
                        <option
                            value="{{category.id}}"
                            *ngFor="let category of categoryList"
                        >
                            {{category.categoryName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Subcategory Name:</label>
                    <input
                        type="text"
                        name="pname"
                        [(ngModel)]="subCategoryFormDetails.subCategoryName"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Subcategory Priority:</label>
                    <input
                        type="number"
                        name="pname"
                        [(ngModel)]="subCategoryFormDetails.priority"
                        class="form-control"
                    >
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        [(ngModel)]="subCategoryFormDetails.isActive"
                    >
                    <label
                        class="form-check-label"
                        for="exampleCheck1"
                    >
                        Is Active
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="!isEdit"
            (click)="addSubCategory()"
        >
            Add Subcategory
        </button>
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="isEdit"
            (click)="updateSubCategory()"
        >
            Update Subcategory
        </button>
        <button
            type="button"
            class="btn btn-danger"
            (click)="editSubCategoryModalRef.close()"
        >
            Cancel
        </button>

    </div>
</ng-template>
