<div class="animated fadeIn  mt-3">
    <div class="row">

        <div class="col-lg-12  mt-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Item Details
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button
                            class="btn btn-primary mb-3 mt-3"
                            (click)="openAddItemDetailsModal(addEditViewItemModal)"
                        >
                            Add View Item
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Director</th>
                                    <th>Actors</th>
                                    <th>IMDB Rating</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    <th width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>

                                    <tr *ngFor="let item of itemList.viewItemDetails; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item?.director}}</td>
                                        <td>{{item?.actors}}</td>
                                        <td>{{item?.imdbRating}}</td>
                                        <td>{{item?.time}}</td>

                                        <td>
                                            <span
                                                *ngIf="item.isActive"
                                                class="badge badge-success"
                                            >
                                                Active
                                            </span>
                                            <span
                                                *ngIf="!item.isActive"
                                                class="badge badge-danger"
                                            >
                                                Inactive
                                            </span>
                                        </td>
                                        <td>

                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm mr-2"
                                                (click)="openEditItemDetailsModal(addEditViewItemModal,item)"
                                            >
                                                <i
                                                    class="fa fa-edit"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger btn-sm"
                                                (click)="deleteItemDetails(item)"
                                            >
                                                <i
                                                    class="fa fa-trash"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="itemList?.viewItemDetails?.length==0">
                                    <tr>
                                        <td
                                            colspan="6"
                                            class="text-center"
                                        >
                                            Item not found
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a
                                class="page-link"
                                href="#"
                            >
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                4
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12  mt-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Item Material
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button
                            class="btn btn-primary mb-3 mt-3"
                            (click)="openAddItemMaterialModal(addEditViewMaterialModal)"
                        >
                            Add View Item Material
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Episode</th>
                                    <th>Minutes</th>
                                    <th>External</th>
                                    <th>Status</th>
                                    <th width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="itemList?.viewitemMaterials?.length>0">

                                    <tr *ngFor="let item of itemList.viewitemMaterials; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item?.episodeNumber}}</td>
                                        <td>{{item?.minutes}}</td>
                                        <td>{{item?.isExternal ?'Yes':'No'}}</td>
                                        <td>
                                            <span
                                                *ngIf="item.isActive"
                                                class="badge badge-success"
                                            >
                                                Active
                                            </span>
                                            <span
                                                *ngIf="!item.isActive"
                                                class="badge badge-danger"
                                            >
                                                Inactive
                                            </span>
                                        </td>
                                        <td>

                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm mr-2"
                                                (click)="openEditItemMaterialModal(addEditViewMaterialModal,item)"
                                            >
                                                <i
                                                    class="fa fa-edit"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger btn-sm"
                                                (click)="deleteItemMaterial(item)"
                                            >
                                                <i
                                                    class="fa fa-trash"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="itemList?.viewitemMaterials?.length==0">
                                    <tr>
                                        <td
                                            colspan="6"
                                            class="text-center"
                                        >
                                            Item not found
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a
                                class="page-link"
                                href="#"
                            >
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                4
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addEditViewItemModal>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            Item Details
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="addEditItemDetailsModalRef.close()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Select Genre:</label>
                    <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        [(ngModel)]="itemFormDetails.genreId"
                    >
                        <option value>Select Genre</option>
                        <option
                            value="{{genre.genreId}}"
                            *ngFor="let genre of genreList"
                        >
                            {{genre.genreName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pname">Time:</label>
                    <input
                        type="number"
                        name="pname"
                        [(ngModel)]="itemFormDetails.time"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pname">IMDB Rating:</label>
                    <input
                        type="text"
                        name="pname"
                        [(ngModel)]="itemFormDetails.imdbRating"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pname">Director:</label>
                    <input
                        type="text"
                        name="pname"
                        [(ngModel)]="itemFormDetails.director"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pname">Actors:</label>
                    <input
                        type="text"
                        name="pname"
                        [(ngModel)]="itemFormDetails.actors"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pname">Maturity Rating:</label>
                    <input
                        type="text"
                        name="pname"
                        [(ngModel)]="itemFormDetails.maturityRating"
                        class="form-control"
                    >
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        [(ngModel)]="itemFormDetails.isActive"
                    >
                    <label
                        class="form-check-label"
                        for="exampleCheck1"
                    >
                        Is Active
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="isactive"
                        [(ngModel)]="itemFormDetails.isMultipleType"
                    >
                    <label
                        class="form-check-label"
                        for="isactive"
                    >
                        Is isMultipleType
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="!isEdit"
            (click)="addItemDetails()"
        >
            Add View Item
        </button>
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="isEdit"
            (click)="updateItemDetails()"
        >
            Update View Item
        </button>
        <button
            type="button"
            class="btn btn-danger"
            (click)="addEditItemDetailsModalRef.close()"
        >
            Cancel
        </button>

    </div>
</ng-template>

<ng-template #addEditViewMaterialModal>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            Item Material
        </h4>
    </div>
    <div class="modal-body">

        <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav-tabs"
        >
            <li [ngbNavItem]="1">
                <a ngbNavLink>Details</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pname">Source Link:</label>
                                <input
                                    type="text"
                                    name="pname"
                                    [(ngModel)]="itemFormMaterial.sourceLink"
                                    class="form-control"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pname">Minutes:</label>
                                <input
                                    type="text"
                                    name="pname"
                                    [(ngModel)]="itemFormMaterial.minutes"
                                    class="form-control"
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pname">Episode Number:</label>
                                <input
                                    type="text"
                                    name="pname"
                                    [(ngModel)]="itemFormMaterial.episodeNumber"
                                    class="form-control"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="exampleCheck1"
                                    [(ngModel)]="itemFormMaterial.isActive"
                                >
                                <label
                                    class="form-check-label"
                                    for="exampleCheck1"
                                >
                                    Is Active
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isExternal"
                                    [(ngModel)]="itemFormMaterial.isExternal"
                                >
                                <label
                                    class="form-check-label"
                                    for="isExternal"
                                >
                                    Is External
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-0">
                        <button
                            type="button"
                            class="btn btn-primary"
                            *ngIf="!isEdit"
                            (click)="addItemMaterial()"
                        >
                            Add View Item
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            *ngIf="isEdit"
                            (click)="updateItemMaterial()"
                        >
                            Update View Item
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="addEditItemMaterialModalRef.close()"
                        >
                            Cancel
                        </button>

                    </div>
                </ng-template>
            </li>
            <li
                [ngbNavItem]="2"
                [disabled]="disableBanner"
            >
                <a ngbNavLink>Banner</a>
                <ng-template ngbNavContent>
                    <div
                        class="thumb-img"
                        *ngIf=" (formDetails?.banner | json) != '{}' && isBannerAdded"
                        [ngStyle]="{'background-image': 'url(&quot;'+ formDetails?.banner +'&quot;'}"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-primary logo-upload-btn"
                        >
                            <i
                                class="fa fa-upload"
                                style="font-size:15px;float: right;"
                            ></i>
                            <input
                                type="file"
                                accept="image/*"
                                (change)="uploadItem($event.target.files,'banner')"
                            >
                        </button>
                    </div>
                    <div
                        class="thumb-img"
                        *ngIf="!isBannerAdded"
                        [ngStyle]="{'background-image': 'url(&quot;assets/images/no-image.jpg&quot;)'}"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-primary logo-upload-btn"
                        >
                            <i
                                class="fa fa-upload"
                                style="font-size:12px;float: right;"
                            ></i>
                            <input
                                type="file"
                                accept="image/*"
                                #uploadInput
                                (change)="uploadItem($event.target.files,'banner')"
                            >
                        </button>
                    </div>

                </ng-template>
            </li>
            <li
                [ngbNavItem]="3"
                [disabled]="disablePoster"
            >
                <a ngbNavLink>Poster</a>
                <ng-template ngbNavContent>
                    <div
                        class="thumb-img"
                        *ngIf=" (formDetails?.poster | json) != '{}' && isPosterAdded"
                        [ngStyle]="{'background-image': 'url(&quot;'+ formDetails?.poster +'&quot;'}"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-primary logo-upload-btn"
                        >
                            <i
                                class="fa fa-upload"
                                style="font-size:15px;float: right;"
                            ></i>
                            <input
                                type="file"
                                accept="image/*"
                                (change)="uploadItem($event.target.files,'poster')"
                            >
                        </button>
                    </div>
                    <div
                        class="thumb-img"
                        *ngIf="!isPosterAdded"
                        [ngStyle]="{'background-image': 'url(&quot;assets/images/no-image.jpg&quot;)'}"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-primary logo-upload-btn"
                        >
                            <i
                                class="fa fa-upload"
                                style="font-size:12px;float: right;"
                            ></i>
                            <input
                                type="file"
                                accept="image/*"
                                #uploadInput
                                (change)="uploadItem($event.target.files,'poster')"
                            >
                        </button>
                    </div>
                </ng-template>
            </li>
            <li
                [ngbNavItem]="4"
                [disabled]="disableTrailer"
            >
                <a ngbNavLink>Trailer</a>
                <ng-template ngbNavContent>
                    <div class="form-group row">
                        <label
                            for="text-input"
                            class="col-md-2 col-form-label"
                        >
                            Trailor Url
                        </label>
                        <div class="col-md-9">
                            <input
                                type="text"
                                id="text-input"
                                name="text-input"
                                placeholder="Enter trailor url"
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="modal-footer pb-0">
                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="addEditItemMaterialModalRef.close()"
                        >
                            Close
                        </button>

                    </div>
                </ng-template>
            </li>
        </ul>

        <div
            [ngbNavOutlet]="nav"
            class="mt-2"
        ></div>

    </div>

</ng-template>
