<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 text-right">
            <button
                class="btn btn-primary mb-3 mt-3"
                (click)="openAddUserReviewModal(addEditUserReviewModal)"
            >
                Add Review
            </button>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Customer Review
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Item Name</th>
                                    <th>Review</th>
                                    <th>Date</th>
                                    <th width="120">Rating</th>
                                    <th>Status</th>

                                    <th width="100"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="userReviewList.length>0">
                                    <tr *ngFor="let review of userReviewList">
                                        <td>{{review.userName}}</td>
                                        <td>{{review.itemName}}</td>
                                        <td>{{review.description}}</td>
                                        <td>{{review.createDate | date:'medium'}}</td>
                                        <td>
                                            <star-rating
                                                [starType]="'svg'"
                                                [rating]="review.rating"
                                                [disabled]="true"
                                            ></star-rating>
                                        </td>
                                        <td>
                                            <span
                                                *ngIf="review.isActive"
                                                class="badge badge-success"
                                            >
                                                Active
                                            </span>
                                            <span
                                                *ngIf="!review.isActive"
                                                class="badge badge-danger"
                                            >
                                                Inactive
                                            </span>
                                        </td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm mr-2"
                                                (click)="openEditUserReviewModal(addEditUserReviewModal,review)"
                                            >
                                                <i
                                                    class="fa fa-edit"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger btn-sm"
                                                (click)="deleteUserReview(review)"
                                            >
                                                <i
                                                    class="fa fa-trash"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="userReviewList.length==0">
                                    <tr>
                                        <td
                                            colspan="7"
                                            class="text-center"
                                        >
                                            Review not found
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a
                                class="page-link"
                                href="#"
                            >
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                4
                            </a>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="#"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #addEditUserReviewModal>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            {{isEdit?'Edit':'Add'}}  Customer Review
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="editUserReviewModalRef.close()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Select User:</label>
                    <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        [(ngModel)]="userReviewFormDetails.userId"
                    >
                        <option value>Select User</option>
                        <option
                            value="{{user.userId}}"
                            *ngFor="let user of userList"
                        >
                            {{user.firstName}} {{user.lastName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pname">Select Item:</label>
                    <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        [(ngModel)]="userReviewFormDetails.viewItemId"
                    >
                        <option value>Select Item</option>
                        <option
                            value="{{item.viewItemId}}"
                            *ngFor="let item of itemList"
                        >
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="pname">Review:</label>
                    <textarea
                        [(ngModel)]="userReviewFormDetails.description"
                        class="form-control"
                    ></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        [(ngModel)]="userReviewFormDetails.isActive"
                    >
                    <label
                        class="form-check-label"
                        for="exampleCheck1"
                    >
                        Is Active
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <star-rating
                    [starType]="'svg'"
                    [rating]="userReviewFormDetails.rating"
                    (ratingChange)="onRatingChange($event)"
                ></star-rating>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="!isEdit"
            (click)="addUserReview()"
        >
            Add Review
        </button>
        <button
            type="button"
            class="btn btn-primary"
            *ngIf="isEdit"
            (click)="updateUserReview()"
        >
            Update Review
        </button>
        <button
            type="button"
            class="btn btn-danger"
            (click)="editUserReviewModalRef.close()"
        >
            Cancel
        </button>

    </div>
</ng-template>
